Library/
Assets/Downloaded/3D Low-Poly Chest
Assets/Downloaded/Bitgem
Assets/Downloaded/Cartoon_Farm_Crops
Assets/Downloaded/Fantasy Skybox FREE
Assets/Downloaded/Fantasy Wooden GUI  Free
Assets/Downloaded/Fantasy_Kingdom_Pack_Lite
Assets/Downloaded/FishingRod_MS
Assets/Downloaded/GUI_Parts
Assets/Downloaded/JMO Assets
Assets/Downloaded/QuickOutline
Assets/Downloaded/ResourcesAndCraftIcon
Assets/Downloaded/SimpleHands
Assets/Downloaded/Survival tools
Assets/Downloaded/TerrainSampleAssets
Assets/Polytope Studio
Assets/FantasyEnvironments
Assets/Rabbits
Logs/
Temp/
obj/
.vs/